ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul.choice li {
	padding: 0.2cm;
	border: 1px solid gray;
	background-color:rgba(255,255,255,0.5);
}
ul.choice li:hover,li.active {
	background-color:white !important;
}
ul.choice li.loading {
	background-color:rgba(255,255,255,0.8) !important;
}
div#scrollline {
	border: 1px solid rgba(255,255,255,0.1);
	width: 0px;
	height: 100%;
	position: fixed;
	top: 0;
	margin-left: 8px;
	left: 82px;
	z-index: -999;
}
p.value {
	display: inline;
}