ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul.choice li {
	padding: 0.2cm;
	border: 1px solid gray;
	background-color:rgba(255,255,255,0.5);
}
ul.choice li:hover,li.active {
	background-color:white !important;
}
ul.choice li.loading {
	background-color:rgba(255,255,255,0.8) !important;
}
div#scrollline {
	border: 1px solid rgba(255,255,255,0.1);
	width: 0px;
	height: 100%;
	position: fixed;
	top: 0;
	margin-left: 8px;
	left: 82px;
	z-index: -999;
}
p.value {
	display: inline;
}
div#overlay{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: rgba(88, 55, 22, 0.8);
	opacity: 0;
	transition: opacity 0.5s ease 0s, visibility 0s ease 0.5s;
	visibility: hidden;
}
div#overlay.open {
	visibility: visible;
	transition: opacity 0.5s ease 0s;
	opacity: 1;
}
div#overlay p {
	position: relative;
	top: 30%;
	text-align: center;
	color: white;
	line-height: 1.25;
	transform: translateY(-50%);
}