body
{
	background: #e7e7e7;
	font-family: Verdana, sans-serif;
	font-size: 11pt;
}

#page
{
	background: #ffffff;
	margin: 20px;
	border: 2px solid #c0c0c0;
	padding: 10px;
	max-width: 380px;
	min-width:380px
}

#header
{
	background: #4b6983;
	border: 2px solid #7590ae;
	text-align: center;
	padding: 10px;
	color: #ffffff;
}

#header h1
{
	color: #ffffff;
}

#body
{
	padding: 10px;
}


select
{
	width:100%;
	font-size:2em;	
}


span.tt
{
	font-family: monospace;
}

span.bold
{
	font-weight: bold;
}

a:link
{
	text-decoration: none;
	font-weight: bold;
	color: #C00;
	background: #ffc;
}

a:visited
{
	text-decoration: none;
	font-weight: bold;
	color: #999;
	background: #ffc;
}

a:active
{
	text-decoration: none;
	font-weight: bold;
	color: #F00;
	background: #FC0;
}

a:hover
{
	text-decoration: none;
	color: #C00;
	background: #FC0;
}

.btn1
{
	height:40px;
	width:20%;
	max-width:150px;
	font-size:14px;
	margin-right:25px;
	text-align:center;
}

.slider
{
	width:50%;
	max-width: 300px;
}

.status
{
	display:inline-block;
	width:50px;
}

colorchooser
{
	height:50px;
}